/* Commun */

.adm__head {
    display: flex;
}

.adm__viewers {
    font-size: 25px;
    margin-left: 30px;
    user-select: none;
}

.adm__viewers > * {
    position: relative;
    top: 5px;
    padding: 2px 4px 2px 2px;
}

.adm__codes {
    margin: auto;
    border-radius: 10px;
    border: 0.1px solid rgba(128, 128, 128, 0.253);
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.171);
    padding: 15px;
    cursor: pointer;
}

.adm__codes:hover {
    background-color: rgba(128, 128, 128, 0.411);;
}


.adm__exit {
    border-radius: 50px;
    border: none;
    width: 60px;
    height: 60px;
    margin: 15px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.adm__control_section {
    display: flex;
    background-color: #ece9e9;
    width: 70%;
    height: 100px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1000px) {
    .adm__control_section {
        width: 90%;
    }
}

.adm__users_question_finish {
    font-size: 20px;
    align-items: center;
    display: flex;
    gap: 6px;
    user-select: none;
}


/* Timer */

.adm__timer {
    width: fit-content;
    font-weight: 600;
    align-items: center;
    display: flex;
    gap: 6px;
    user-select: none;
    font-size: 25px;
}

.adm__timer > * {
    font-size: 40px;
}

.adm__pause_play {
    align-items: center;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}