.create_update_quizz_form {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 64px;
}

.create_update_quizz_form h2{
    margin-left: 16px;
}


.input_field{
    margin-left: 16px;
}

.create_update_quizz_form .input_field input[type=text],input[type=number],textarea,select  {
    width: 70%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;

}

.create_update_quizz_form .input_field label {
    padding: 8px 0px 8px 0;
    display: block;
}

.create_update_quizz_form .radio_field{
    margin-left: 16px;
    line-height: 2em;
}

.create_update_quizz_form .born_field {
    width: 70%;
    max-width: 500px;
    display: inline-block;
    margin-bottom: 8px;
    
}


.create_update_quizz_form .born_field input[type=number]{
    width: 50%;
    float: left;
}



/* Style the submit button */
.create_update_quizz_form input[type=submit] {
    background-color: #F76059;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width :25%;
    min-width: 300px;
    margin-top: 32px;
    margin-left: 16px;
}

.create_update_quizz_form input[type=submit]:hover{
    background-color: #f78059;
}

.create_update_quizz_form .input_erreur{
    color: red;
    margin: 0;
    top:-25px;
    font-size: 12px;

}

/*Style de champs des tags*/
.create_update_quizz_form .tags_field{
    width: 70%;
}

.create_update_quizz_form .tags_field .input_field  {
    width: 75%;
    display: inline-block;
    max-width: 455px;

}

.create_update_quizz_form .tags_field .input_field input[type=text]  {
    width: 100%;
    max-width: 455px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0;

    

}

.tags_field .tags_button_plus{
    width: 40px;
    height: 40px;
    background-color: #F76059;
    border-radius: 5px;
    vertical-align: middle;
    color: white;
    margin-left: 5px;
    
}

.tags_field .tags_name {
    width:77%
}

.tags_field .tags_name ul{
    padding-left: 22px;
    width: 100%;
}


.tags_field .tags_name li{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    width: auto; 
    border-left: 10px solid #F76059;
    border-right: 10px solid #F76059;
    border-top:5px solid #F76059 ;
    border-bottom:5px solid #F76059 ;
    color: white;
    margin-bottom: 10px;
    background-color: #F76059;
    border-radius: 15px;

}
.tags_field .tags_name li a{
    text-decoration: none;
    color:white;
    margin-left: 7px; 
}

.tags_field .tags_name li a:hover{
    color: lightgrey;
    cursor: pointer;
}


