html, body, main, #root{
    height: 100%;
}


.content_main {
    width: 100%;
    height: 100%;
}


.add_quizz {
  margin-top: 1em;
  margin-bottom: 3em;
  display: flex;
}

.add_quizz > button {
  margin: auto auto auto 4.5em;
  width: 13em;
  display: block;
  position: relative;
  background-color: #f7615900;
  border: solid 1px black;
  border-radius: 5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 49px;
  color: black;
  font-size: 20px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.add_quizz > button:hover {
  background-color:#ce5e58d7;
}

.add_quizz > input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    width: 75%;
    transition: all ease-in-out .5s;
    margin-right: 3.5em;
    margin-left: 1em;
  }
  
  .add_quizz > input:hover, .add_quizz > input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .add_quizz > input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .add_quizz > input:focus {
    background-color: #f0eeee;
  }
  
/* les quizz */

.quizz_display, ul{
  height: auto;
}



.quizz_display > li {
  height: 10%;
  width: 90%;
}


.quizz {
  display: flex;
  border: solid 1px black;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 3em;
  margin-right: 3em;
}

.quizz_name {
  width: 80%;
  margin-left: 50px;
  color: black;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.play_button {
  width: 10%;
  position: relative;
  border-radius: 0px;
  background-color: #6a097d;
  border: solid 1px #6a097d;
  text-align: center;
  
}

.play_button:hover {
  background-color: #6a097dc7;
  border: solid 1px #6a097dc0;
}

.edit_button {
  width: 10%;
  position: relative;
  border-radius: 0px;
  background-color: #c05fa0;
  border: solid 1px #c05fa0;
  text-align: center;
  
}

.edit_button:hover {
  background-color: #c05fa0d2;
  border: solid 1px #c05fa0d0;
}



.stats_button {
  width: 10%;
  position: relative;
  border-radius: 0px;
  background-color: rgba(128, 0, 128, 0.788); 
  border: solid 1px rgba(128, 0, 128, 0.788); 
  text-align: center;
  
}

.stats_button:hover {
  background-color: rgba(128, 0, 128, 0.637);
  border: solid 1px rgba(128, 0, 128, 0.637);
}

.del_button {
  width: 6%;
  position: relative;
  border-radius: 0px;
  background-color: rgba(128, 0, 128, 0);
  border: solid 1px rgba(128, 0, 128, 0);
  text-align: center;
  border-radius: 50px;
}

.del_button:hover {
  background-color: rgba(255, 255, 255, 0.507);
}

.Fa {
  width: 40%;
  height: 40%;
  color: white;
  vertical-align: middle;
}

.FaTrash {
  width: 40%;
  height: 40%;
  vertical-align: middle;
}




.empty_quizz {
  text-align: center;
  margin-top: 55vh; /* poussé de la moitié de hauteur de viewport */
  margin-bottom: 25px;
}



.add_button_bis {
  display: none;
}



  /* Affichage des quizz 
  li {
    height: 10%;
    width: 90%;
  }
  
  
  .quizz {
    display: flex;
    border: solid 1px black;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 0em;
  }
  
  .quizz_name {
    width: 80%;
    height: fit-content;
    margin-left: 20px;
    color: black;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
  }
  
  .play_button {
    width: 12%;
    position: relative;
    border-radius: 0px;
    background-color: #6a097d;
    border: solid 1px #6a097d;
    text-align: center;
    
  }
  
  .play_button:hover {
    background-color: #6a097dc7;
    border: solid 1px #6a097dc0;
  }

  .edit_button {
    width: 12%;
    position: relative;
    border-radius: 0px;
    background-color: #c05fa0;
    border: solid 1px #c05fa0;
    text-align: center;
    
  }
  
  .edit_button:hover {
    background-color: #c05fa0d2;
    border: solid 1px #c05fa0d0;
  }
  
  .stats_button {
    width: 12%;
    position: relative;
    border-radius: 0px;
    background-color: rgba(128, 0, 128, 0.788); 
    border: solid 1px rgba(128, 0, 128, 0.788);
    text-align: center;
    
  }
  
  .stats_button:hover {
    background-color: rgba(128, 0, 128, 0.637);
    border: solid 1px rgba(128, 0, 128, 0.637);
  }
  
  .del_button {
    width: 8%;
    position: relative;
    background-color: rgba(128, 0, 128, 0);
    border: solid 1px rgba(128, 0, 128, 0);
    text-align: center;
    border-radius: 100px;
  }
  
  .del_button:hover {
    background-color: rgba(255, 255, 255, 0.507);
  }
  
*/

/****/

@media all and (max-width: 640px) {
  .content_main {
    width: 100%;
    border-radius: 0px;
  }

  /* Boutons CREER QUIZZ */
  .add_button_quizz {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-radius: 2px;
    background-color:  #F76059;
    font-size: 25px;
  }
  .add_button_quizz:before{
    background-color:#ce5e5800;
  }
  .add_button_quizz:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }

  .add_quizz > button {
    display: none;
  }

  .add_quizz > input[type=text] {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .add_button_bis {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    border: solid 1px;
    border-radius: 2px;
    background-color:  #556bfa;
    font-size: 25px;
  }
  .add_button_bis:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }

  /* Affichage des quizz */
  li {
    height: 10%;
    width: 90%;
  }
  
  
  .quizz {
    display: flex;
    border: solid 1px black;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: auto;
  }
  
  .quizz_name {
    width: 60%;
    height: fit-content;
    margin-left: 20px;
    color: black;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
  }
  
  .play_button {
    width: 15%;
    position: relative;
    border-radius: 0px;
    background-color: #6a097d;
    border: solid 1px #6a097d;
    text-align: center;
    
  }
  
  .play_button:hover {
    background-color: #6a097dc7;
    border: solid 1px #6a097dc0;
  }

  .edit_button {
    width: 15%;
    position: relative;
    border-radius: 0px;
    background-color: #c05fa0;
    border: solid 1px #c05fa0;
    text-align: center;
    
  }
  
  .edit_button:hover {
    background-color: #c05fa0d2;
    border: solid 1px #c05fa0d0;
  }
  
  .stats_button {
    width: 15%;
    position: relative;
    border-radius: 0px;
    background-color: rgba(128, 0, 128, 0.788); 
    border: solid 1px rgba(128, 0, 128, 0.788);
    text-align: center;
    
  }
  
  .stats_button:hover {
    background-color: rgba(128, 0, 128, 0.637);
    border: solid 1px rgba(128, 0, 128, 0.637);
  }
  
  .del_button {
    width: 11%;
    position: relative;
    background-color: rgba(128, 0, 128, 0);
    border: solid 1px rgba(128, 0, 128, 0);
    text-align: center;
    border-radius: 100px;
  }
  
  .del_button:hover {
    background-color: rgba(255, 255, 255, 0.507);
  }
  
}

/* Page 'Nouveau quizz | Importer quizz' */

.creation_hidden {
  display: none;
}

.creation {  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: white;
  z-index: 1;
}

.creation_quizz {
  text-align: center;
  margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
}

.icons {
  width: 200px;
  height: 200px;
}

.cross_creation_quizz {
  float: right;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 80%;
  padding: 10px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.cross_creation_quizz:hover {
  background-color: rgba(0, 0, 0, 0.253);

}

h2 {
  font-family: "Poppins", sans-serif;
}

.new_import {
  display: inline-block;
}




