footer{
  font-family: Roboto;
  color: white;
  background-color: grey;
  text-align: center;
  height: 50px;
  width: 100%; 

}
#App{
  min-height:100%;
  position:relative;
  padding-bottom:50px;

}

.disable-scroll{
    overflow-y: hidden;
}
