/* CSS de la page de connexion et d'inscription */

body.active-modal {
    overflow-y: hidden;
}

.modal_question{
    font-family: 'Poppins', sans-serif;
}

.modal_question, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: #fff;

}

.modal_question_content {
    position: relative;
    margin: auto;
    line-height: 1.4;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: scroll;

}

.modal_question_content .modal_question_title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    margin-top: 0;
    user-select: none;
    background:  #F76059;
}




.modal_question_content .filter_form{
    max-width: 580px;
    min-width: 300px;
}


.modal_question_content .filter_field{
    width: 100%;
    margin-top: 20px;
    position: relative;
    padding-left: 32px;
    
}


.modal_question_content .filter_field input{
    height: 35px ;
    width: 75%;
    outline: none;
    font-size: 14px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    text-indent: 20px;
    
}


.modal_question_content .filter_form .filter_field input:focus{
    border-color: lightblue ;
}

.modal_question_content .filter_checkbox{
    padding-left: 30px;
}



.close_question_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;   
    border: none;
    background: none;
}

.close_question_modal:hover {
    cursor: pointer;
}

.filter_form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.filter_form .content a{
    color: "";
}


.modal_question_content input[type="submit"]{
    color: #fff;
    border: none;
    margin-left: 32x;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #F76059;
    transition: all 0.3s ease;
    width:200px;
    float: right;
    height: 35px ;
    border-radius: 25px;
}

.modal_question_content .btn_field{
    margin-top: 70px;
    padding-right:20px ;
}

.modal_question_content  input[type="submit"]:active{
    transform: scale(0.95);
}


.modal_question_content .questions_list{
    list-style-type: none;
}

.modal_question_content .questions_list h2{
    text-align: center;
}

/* Style the list items */

.modal_question_content .questions_list{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal_question_content .questions_list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}


.modal_question_content .questions_list li input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.modal_question_content .questions_list li>label {
    pointer-events: none;
}



/* Set all odd list items to a different color (zebra-stripes) */
.modal_question_content .questions_list li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.modal_question_content .questions_list li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.modal_question_content .questions_list li.checked {
    background: #888;
    color: #fff;
}

/* When clicked on, add a background color and strike out text */
.modal_question_content .questions_list li input {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
/* Add a "checked" mark when clicked on */
.modal_question_content .questions_list li input:checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

@media only screen and (min-width: 600px) and (min-height: 910px) {
    
    .modal_question, .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }
    
    .overlay {
        background: rgba(49,49,49,0.8);
    }
    .modal_question_content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: #fff;
        border-radius: 15px;
        width: 100%;
        height: 720px;
        max-width: 580px;
        min-width: 380px;
        overflow-y: hidden;
    
    }
    
    .modal_question_content .modal_question_title{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        margin-top: 0;
        user-select: none;
        border-radius: 15px 15px 0 0;
        background:  #F76059;
    }
    
    .modal_question_content .filter_form{
        padding: 0px 32px 0px 32px;
    }

    
    .modal_question_content .filter_field{
        width: 100%;
        margin-top: 30px;
        position: relative;
        padding: 0;
    }
    
    
    
    .modal_question_content .filter_field input{
        height: 50px ;
        width: 100%;
        outline: none;
        font-size: 17px;
        border: 1px solid lightgrey;
        border-radius: 25px;
        transition: all 0.3s ease;
        text-indent: 20px;
        
    }
    
    .modal_question_content .filter_form .filter_field input:focus{
      border-color: lightblue ;
    }

    .modal_question_content .filter_checkbox{
        padding-left: 0px;
    }
    

    
}



