.modal__preview {
    background: linear-gradient(#F76059, #7500A3);
    position: absolute;
    top: -71px;
    width: 100%;
    height: 109%; /* /!\ mettre en full screen */
}

.preview__frame__answer {
    width: 80%;
    height: 80%;
    border: solid 5px black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.178);
    margin: 4em auto auto auto;
    background-color: rgba(255, 255, 255, 0.534);
    position: relative;
}

.preview__frame__answer > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.preview__image {
    border: solid 2px black;
    width: 60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}


.preview__answer {
    position: relative;
    margin-top: 20vh;
    width: 100%;
    display: flex;
}

.preview__answer > section {
    margin: 0px auto 4em auto;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none; 
    width: 50%; 
    height: 50px;
    margin: 0px auto 2em auto;
    background-color: #6a097d8a;
    border: solid 1px #6a097df6;
    
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #000000; 
    width: 20px;
    height: 100%;
    background: #6a097d;
}
  
input[type=range]::-moz-range-track {
    background: #6a097d00; 
}
  

.preview__answer > span {
    position: absolute;
    top: -100%;
    right: 48%;
    font-size: 3em;
}


/* */








@media all and (max-width: 640px) {
    .modal__preview {
        position: absolute;
        top: -71px;
        height: 121%; /* /!\ mettre en full screen */
    }

    .preview__frame__answer {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        position: absolute;
        top: -64px;
    }
    
    
    .preview__answer {
        margin-top: 10vh;
    }

    .preview__answer > section {
        margin-top: 30px;
    }

    input[type=range] {
        margin: 3em auto 2em auto;
    }

    .preview__answer > span {
        position: absolute;
        top: -15%;
        right: 45%;
    }
    
}

