.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #F76059;
    color: #F76059;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    margin: auto;
}

.dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #F76059;
    color: #F76059;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #F76059;
    color: #F76059;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}
  
@keyframes dot-flashing {
    0% {
        background-color: #F76059;
    }
    50%, 100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}